<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
<resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/ELLAKdb</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>

   <servlet>
        <servlet-name>handler</servlet-name>
        <display-name>Request Handler</display-name>
        <description>Webservice Handler servlet</description>
        <servlet-class>com.ellak.quiz.ws.handler.HandlerServlet</servlet-class>
	<init-param>
         <param-name>debug</param-name>
	 <param-value>true</param-value>
    	</init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>handler</servlet-name>
        <url-pattern>/HandlerServlet</url-pattern>
    </servlet-mapping>


  <!-- The rest of the config is adapted from Axis's default web app -->

  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>

</web-app>
